body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Roboto, Helvetica, Arial, sans-serif;
  background: #F2EAE9;
  overflow-x: hidden;
}
/* Nav styling */
nav, nav a {
  color: #C59A4C;
  background-color: #231725;
  font-weight: 500;
  font-size: 11px;
}
nav a:hover{
  color: white;
}
.active .nav-link {
  color: white !important;
  font-weight: 600;
  font-size: 12px;
}
nav form {
  border: 2px solid #C59A4C;
}
nav form button {
  background-color: #C59A4C;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #C59A4C;
}
.navbar-toggler {
  border: 2px solid #C59A4C;
}
.navbar-brand img {
  top: 0;
}

/* Footer styling */
footer, footer a {
  color: #C59A4C;
  background-color: #231725;
  font-weight: 500;
  font-size: 10px;
}
footer b {
  font-size: 12px;
}
footer i {
  font-size: 16px;
}
footer a:hover{
  color: white;
  text-decoration: none;
}
footer h4 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}
footer img {
  width: 100px;
}
footer h5 {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}
.footer-copyright {
  border-top: 2px solid black;
}
.footer-group {
  min-width: 300px;
}









* {
    box-sizing: border-box;
}


.container, .container-fluid{
    background-color: #F2EAE9;
}


/* header */

.header {
    background: #231725;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.header .logo {
    width: 42%;
    box-sizing: border-box;
    padding-left: 100px;
}

.header .logo img {
    position: relative;
    margin-bottom: -100px;
    width: 135px;
    height: 135px;
    z-index: 222;
}

.header .header-link {
    width: 58%;
    margin-right: 15px;
}

.header-link a {
    font-family: Lato;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #C59A4C;
}

.header-link ul {
    display: flex;
    list-style: none;
    align-items: baseline;
}

.header-link li {
    margin-left: 10px;
}

div.header-link ul li:nth-child(2)>a {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #C59A4C;
}

.header-link li button {
    background: transparent;
    border: 1px solid #C59A4C;
    padding: 5px;
}

.header-link li button a {
    background: #C59A4C;
    border: 2px solid transparent;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #F2EAE9;
}

.image {
    height: 70%;
    width: 100%;
    overflow: hidden;
    top: 71px;
}

#name {
    position: relative;
    width: 400px;
    height: 200px;
    /* left: 238px; */
    background: #C59A4C;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -100px auto 25px 0px;
}

h2.text {
    width: 472px;
    height: 223px;
    left: 238px;
    top: 609px;
    background: #C59A4C;
}

p.text {
    width: 275px;
    height: 106px;
    left: 238px;
    top: 859px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #231725;
}

.card-img{
    filter: brightness(50%);
}

.card-img-top{
    width: 150%;
    z-index: 1;
}

.img{
    height: 500px;
}

.img{
    width: 100%;
    height: auto;
}

.img img{
    height: 100%;
    width: 100%
}

.card-img-top img{
    filter: brightness(50%);
    height: 250px !important;
    overflow-x: visible;
}

.card-img-overlay h1{
    z-index: 2;
}

.card-body{
    background-color: #C59A4C;
    color: white;
}

.img-bottom{
    border: 1px solid #C59A4C;
    height: 100px;
    width: 100%;
    aspect-ratio: inherit;
    object-fit: cover;
}


/*  FOOTER */

footer {
    background: #231725;
    padding: 20px 0 10px 0;
}

.item-wrap {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.item-wrap img {
    margin-bottom: 10px;
}

.item-wrap h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #C59A4C;
    margin-top: 0;
    margin-bottom: 10px;
}

.item-wrap ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin-top: 5px;
}

.item-wrap ul li {
    text-align: left;
}

.item-wrap a {
    font-family: Lato;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #C59A4C;
    text-align: left;
}

.item-wrap address {
    font-family: Lato;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #C59A4C;
    text-align: left;
}

/* footer .right {
    text-align: center;
    color: #C59A4C;
    margin-top: 15px;
} */