body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Roboto, Helvetica, Arial, sans-serif;
}

/* Nav styling */
nav, nav a {
  color: #C59A4C;
  background-color: #231725;
  font-weight: 500;
  font-size: 11px;
}
nav a:hover{
  color: white;
}
.active .nav-link {
  color: white !important;
  font-weight: 600;
  font-size: 12px;
}
nav form {
  border: 2px solid #C59A4C;
}
nav form button {
  background-color: #C59A4C;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #C59A4C;
}
.navbar-toggler {
  border: 2px solid #C59A4C;
}
.navbar-brand img {
  top: 0;
}



/* Header Styling */
header {
  background-color: #231725; 
  color: #fff;
  border-bottom: 2px solid #C59A4C;
  overflow: hidden;
}
header .hero1 {
  background-image: url(../assets/images/hero.png); 
  background-position: center;
  height: 600px;
}
@media only screen and (max-width: 600px) {
  header .hero1 {
    height: 320px;
  }
}
header .hero1 h4 {
  background-color: #C59A4C;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
header form h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
header form label {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
header input, header select {
  background-color: transparent !important; 
  color: #fff !important;
  border: none !important;
  border-bottom: 2px solid #C59A4C !important;
  font-size: 12px !important;
}
header .availability {
  border: 2px solid #C59A4C;
}
header form button {
  background-color: #C59A4C;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #C59A4C;
}
header .hero2 h2 {
  color: #C59A4C;
  font-size: 42px;
  font-weight: 800;
}
header .hero2 h6 {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}
header .hero2 .hero2-text {
 font-size: 13px;
 font-weight: 400;
 max-width: 500px;
}
@media only screen and (max-width: 600px) {
  header .hero2 .hero2-text {
    font-size: 12px;
  }
}





/* Card section styling */
.cards {
  background-color: #C59A4C;
  overflow: hidden;
}
.cards h2 {
  background-color: #fff;
  font-size: 50px;
  font-weight: 700;
  border: 4px solid #231725;
}
@media only screen and (max-width: 600px) {
 .cards h2 {
  font-size: 25px;
}
}
.cards h5 {
  font-size: 20px;
  font-weight: 600;
}
.cards p {
  font-size: 14px;
  font-weight: 500;
}
.cards a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}



/* Ending 1 styling */
.ending1 {
  overflow-x: hidden;
  background-color:#231725;
}
.ending1 .liner {
  border: 2px solid #C59A4C;
  min-height: 95%;
}
.ending1 h3 {
  background-color:#C59A4CAA;
  font-size: 40px;
  font-weight: 300;
}
.ending1 .square1 {
  background-image: url(../assets/images/bg1.png); 
  height: 450px;
}
.ending1 .square2 {
  background-image: url(../assets/images/bg2.png); 
  height: 450px;
}





/* Ending 1 styling */
.ending2 {
  background-color: #F2EAE9;
  color:#C59A4C !important;
}
.ending2 .liner {
  border: 2px solid #C59A4C;
}
.ending2 h5 {
  font-size: 20px;
  font-weight: 700;
}
.ending2 p {
  font-size: 16px;
  font-weight: 300;
}
.ending2 a {
  color:#C59A4C !important;
  font-weight: 600;
  font-style: italic;
}
@media only screen and (max-width: 600px) {
 .ending2 h5 {
    font-size: 16px;
    font-weight: 700;
  }
  .ending2 p {
    font-size: 12px;
    font-weight: 300;
  }
  .ending2 a {
    color:#C59A4C !important;
    font-weight: 600;
    font-style: italic;
  }
}






/* Footer styling */
footer, footer a {
  color: #C59A4C;
  background-color: #231725;
  font-weight: 500;
  font-size: 10px;
}
footer b {
  font-size: 12px;
}
footer i {
  font-size: 16px;
}
footer a:hover{
  color: white;
  text-decoration: none;
}
footer h4 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}
footer img {
  width: 100px;
}
footer h5 {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}
.footer-copyright {
  border-top: 2px solid black;
}
.footer-group {
  min-width: 300px;
}
