body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Roboto, Helvetica, Arial, sans-serif;
}

/* Nav styling */
nav, nav a {
  color: #C59A4C;
  background-color: #231725;
  font-weight: 500;
  font-size: 11px;
}
nav a:hover{
  color: white;
}
.active .nav-link {
  color: white !important;
  font-weight: 600;
  font-size: 12px;
}
nav form {
  border: 2px solid #C59A4C;
}
nav form button {
  background-color: #C59A4C;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #C59A4C;
}
.navbar-toggler {
  border: 2px solid #C59A4C;
}
.navbar-brand img {
  top: 0;
}



/* Header Styling */
header {
  background-color: #231725; 
  color: #fff;
  border-bottom: 2px solid #C59A4C;
  overflow: hidden;
}
header .hero1 {
  background-image: url(../assets/images/hero.png); 
  background-position: center;
  height: 600px;
}
@media only screen and (max-width: 600px) {
  header .hero1 {
    height: 320px;
  }
}
header .hero1 h4 {
  background-color: #C59A4C;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
header form h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
header form label {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
header input, header select {
  background-color: transparent !important; 
  color: #fff !important;
  border: none !important;
  border-bottom: 2px solid #C59A4C !important;
  font-size: 12px !important;
}
input:focus, select:focus {
  outline: none !important;
  box-shadow: 12px 22px 35px 0px rgba(0,0,0,0.68) !important;
}
select option {
  background: #C59A4C !important;
  color: #fff;
}
select:focus > option:hover {
  background: #231725 !important;
}
select:focus > option:checked {
  background: #231725 !important;
}
header .availability {
  border: 2px solid #C59A4C;
}
header form button {
  background-color: #C59A4C;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #C59A4C;
}
header .hero2 h2 {
  color: #C59A4C;
  font-size: 42px;
  font-weight: 800;
}
header .hero2 h6 {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}
header .hero2 .hero2-text {
 font-size: 13px;
 font-weight: 400;
 max-width: 500px;
}
@media only screen and (max-width: 600px) {
  header .hero2 .hero2-text {
    font-size: 12px;
  }
}





/* Card section styling */
.cards {
  background-color: #C59A4C;
  overflow: hidden;
}
.cards h2 {
  background-color: #fff;
  font-size: 50px;
  font-weight: 700;
  border: 4px solid #231725;
}
@media only screen and (max-width: 600px) {
 .cards h2 {
  font-size: 25px;
}
}
.cards h5 {
  font-size: 20px;
  font-weight: 600;
}
.cards p {
  font-size: 14px;
  font-weight: 500;
}
.cards a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}



/* Ending 1 styling */
.ending1 {
  overflow-x: hidden;
  background-color:#231725;
}
.ending1 .liner {
  border: 2px solid #C59A4C;
  min-height: 95%;
}
.ending1 h3 {
  background-color:#C59A4CAA;
  font-size: 40px;
  font-weight: 300;
}
.ending1 .square1 {
  background-image: url(../assets/images/bg1.png); 
  height: 450px;
}
.ending1 .square2 {
  background-image: url(../assets/images/bg2.png); 
  height: 450px;
}





/* Ending 1 styling */
.ending2 {
  background-color: #F2EAE9;
  color:#C59A4C !important;
}
.ending2 .liner {
  border: 2px solid #C59A4C;
}
.ending2 h5 {
  font-size: 20px;
  font-weight: 700;
}
.ending2 p {
  font-size: 16px;
  font-weight: 300;
}
.ending2 a {
  color:#C59A4C !important;
  font-weight: 600;
  font-style: italic;
}
@media only screen and (max-width: 600px) {
 .ending2 h5 {
    font-size: 16px;
    font-weight: 700;
  }
  .ending2 p {
    font-size: 12px;
    font-weight: 300;
  }
  .ending2 a {
    color:#C59A4C !important;
    font-weight: 600;
    font-style: italic;
  }
}






.header{
background: #231725;
display: flex;
align-items: center;
margin-bottom: 0;
}

.header .logo{
width: 42%;
box-sizing: border-box;
padding-left: 100px;
}
.header .logo img{
position: relative;
margin-bottom: -100px;
width: 135px;
height: 135px;
z-index: 222;
}

.header .header-link{
width: 58%;
margin-right:15px;
}

.header-link a{
font-family: Lato;
text-decoration: none;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #C59A4C;
}

.header-link ul{
display:flex;
list-style: none;
align-items: baseline;
}

.header-link li{
margin-left: 10px;
}

div.header-link  ul li:nth-child(2) > a{
font-family: Lato;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #C59A4C;
}

.header-link li button{
background: transparent;
border: 1px solid #C59A4C;
padding: 5px;
}

.header-link li button a{
background: #C59A4C;
border: 2px solid transparent;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #F2EAE9;
}

/* SECTION IMAGE */

section.image{
width: 100%;
height: 550px;
overflow: hidden;
z-index: -1;
margin-top: 0;
margin-bottom: 0;
}


/* IMAGE TEXT */

.text{
position: absolute;
width: 40%;
height: 50px;
left: 800px;
bottom: 150px;
background: #C59A4C;
display: flex;
padding-left: 10px;
align-items: center;
justify-content: left;
/*
margin: -100px auto 25px 0px;*/
margin: -100px;
width: 47%;
padding-left: 10px;
}

.text h1{
font-family: lato;
font-style: larger;
font-weight: normal;
font-size: 15px;
line-height: 65px;
color: #F2EAE9;
}
.reservation {
/* position: absolute; */
border-top: 0;
margin-top: 0;
background: #231725;
display: flex;
color: white;

padding-left: 250px;
padding-top: 30px;
justify: center;
padding-bottom: 30px;
border-bottom: 2px solid #C59A4C;
}
.block {
display: inline-block;
}

.form-control {
    background: transparent;
    margin-bottom: 0px;

}
input,
input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 3;
}
reservation.left {

}
.right-reserve {
text-transform: uppercase;
display: flex;
padding-top: 50px;
}

.right-availability {
padding-left: 200px;
background: #231725;
padding-top: 16px;

}

.button {
background: #C59A4C;
color: white;
margin: 1px solid #C59A4C;

}

/* Hr lines */

.novo-tempo {
background: #231725;
display: flex;
flex-direction:row;
justify-content: space-around;
color: #C59A4C;
padding-left: 200px;
padding-top: 50px;
padding-right: 250px;
padding-bottom: 50px;
}

.left-tempo{
width: 300px;
font-family: serif;
}
.right-tempo{
width: 400px;
font-size: 15px;
}

.right-services ul {
list-style: none;
font-size: 12px;
text-decoration: none;
}




/* Footer styling */
footer, footer a {
  color: #C59A4C;
  background-color: #231725;
  font-weight: 500;
  font-size: 10px;
}
footer b {
  font-size: 12px;
}
footer i {
  font-size: 16px;
}
footer a:hover{
  color: white;
  text-decoration: none;
}
footer h4 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}
footer img {
  width: 100px;
}
footer h5 {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}
.footer-copyright {
  border-top: 2px solid black;
}
.footer-group {
  min-width: 300px;
}
