<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="contact.css">
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
    rel="stylesheet">
  <title>Document</title>
</head>
<body>

<section class="header">
    <div class="logo">
      <img src="../assets/Group 55.png" alt="">
    </div>
    <div class="header-link">
      <ul>
        <li><a href="#">HOTEL OVERVIEW</a></li>
        <li><a href="#">ROOMS</a></li>
        <li><a href="#">CONTACT US</a></li>
        <li><a href="#">WEDDINGS</a></li>
        <li><a href="#">SPA</a></li>
        <li><button><a href="#">RESERVE NOW</a></button></li>
      </ul>
    </div>
  </section>
 <div class="header-bg">
 	 <img src="..//assets/rect2.jpg">
 </div>
 <div class="box1">
 	
 </div>
 <div class="box2">
 	<h1>contact us</h1>
 	<div class="contact-text">
 		<p>
 		Lagos <br> 45 Kalia Road, Marina, Lagos, <br>Nigeria. </p>

 	<p>Toll Free Room Reservations:<br>
 	 + (234) 812-435-2245 <br> Other Inquiries: + (234) 812-422-2233 
 	</p>
 	</div>
    <div class="info">
    	<a href="#">Info@novotempo.com</a>
    </div>
 	
 	<div class="sub-box">
 		<h1>Subscribe to Our Newsletter</h1>
 		<div class="Subcribe">
 		<form class="yo">
 			<input type="text" name="text" placeholder="Enter your Email for Promotions and News">
 			<button class="btn1">SUBCRIBE</button>
 		</form>
 		</div>
 		
 	</div>
 </div>
 <div class="box3">
  <div class="box4">
  	<div>
  	<h1>Requests, Comments or Questions</h1>
 	<p>Novo is pleased to offer online access to our world-class services. If you would like us to make arrangements on your behalf prior to your arrival or if you have comments or questions, please complete and submit the form below. A member of our staff will contact you within 24 hours of receiving your request.</p>
 	</div>

    <div class="container">
     <form action="/action_page.php">
  <div class="row">
    <div class="col-25">
      <label for="fname">First Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="fname" name="firstname" >
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Last Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="lname" name="lastname" >
    </div>
  </div>
   <div class="row">
    <div class="col-25">
      <label for="lname">Email</label>
    </div>
    <div class="col-75">
      <input type="text" id="lname" name="lastname" >
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subject">Subject</label>
    </div>
    <div class="col-75">
      <textarea id="subject" name="subject"  style="height:200px"></textarea>
    </div>
  </div>
  
  </form>
     <div class="submit">
    <input type="submit" value="CONTACT NOVO">
  </div>
  </div>
 	</div>
 </div>







<footer>
    <div class="item-wrap">
      <img src="../assets/Group 48.png" alt="">
      <div>
        <h2>ABOUT NOVO</h2>
        <ul>
          <li><a href="#">Awards</a></li>
          <li><a href="#">Gold Standards</a></li>
          <li><a href="#">Community Footprints</a></li>
        </ul>
      </div>
      <div>
        <h2>MEETINGS & WEDDINGS</h2>
        <ul>
          <li><a href="#">Meetings</a></li>
          <li><a href="#">Weddings</a></li>
          <li><a href="#">Holiday</a></li>
        </ul>
      </div>
    </div>
    <div class="item-wrap">
      <div>
        <h2>CONTACT US</h2>
        <ul>
          <li><a href="#">Online Reservation</a></li>
          <li><a href="#">Reservation by Phone</a></li>
          <li><a href="#">Connect with us on Social</a></li>
        </ul>
        <address>
          Lagos<br>
          45 Kalia Road, Marina, Lagos, Nigeria.<br>
          Toll Free Room Reservations:<br> + (234) 812-435-2245 <br>Other Inquiries: + (234) 812-422-2233 
        </address>
      </div>
      <div>
        <h2>SPA</h2>
        <ul>
          <li><a href="#">Treatment</a></li>
          <li><a href="#">Locations</a></li>
          <li><a href="#">Schedule a Time</a></li>
        </ul>
      </div>
      <div>
        <h2>ROM & SUITES</h2>
        <ul>
          <li><a href="#">Junior Rooms</a></li>
          <li><a href="#">Guest Rooms</a></li>
          <li><a href="#">Gold Rooms</a></li>
          <li><a href="#">Premier Rooms</a></li>
        </ul>
      </div>
    </div>
    <div class="right">&copy; The Novo Tempo Hotel Company</div>
  </footer>
</body>
</html>