*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
 font-family:  sans-serif;
 width:99%;
 box-sizing: border-box;
 background: #F2EAE9;
}

nav, nav a {
  color: #C59A4C;
  background-color: #231725;
  font-weight: 500;
  font-size: 11px;
}
nav a:hover{
  color: white;
}
.active .nav-link {
  color: white !important;
  font-weight: 600;
  font-size: 12px;
}
nav form {
  border: 2px solid #C59A4C;
}
nav form button {
  background-color: #C59A4C;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #C59A4C;
}
.navbar-toggler {
  border: 2px solid #C59A4C;
}
.navbar-brand img {
  top: 0;
}


.header-bg img{
 width: 100%;
 overflow: hidden;
 z-index: -1;
 margin-top: 0;
 background-size: cover;
}

.box1{
position: relative;
width:100%;
height:850px;
top:0;
background-color: #231725;
}

.box2{
position: absolute;
width: 963px;
height: 786px;
left: 140px;
top: -70px;
background: #F2EAE9;
}

.box2 h1{
position: absolute;
width: 394px;
height: 73px;
left: 92px;
top: 30px;
font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 50px;
line-height: 77px;
color: #231725;
text-transform: uppercase;
}
.contact-text{
position: absolute;
width: 275px;
height: 176px;
left: 90px;
top: 105px;
margin-top: 15px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #231725;
}
.contact-text p:nth-child(1){
	line-height: 22px;
}
.contact-text p:nth-child(2){
	margin-top: 45px;
	line-height: 22px;
}

.info a{
	position: absolute;
width: 134px;
left: 90px;
top: 320px;
border-bottom: 1px solid #C59A4C;
color: #C59A4C;
text-decoration: none;
margin-top: 40px;
}
.sub-box{
position: absolute;
background-color: #c4c4c4;
width: 863px;
height: 235px;
left: 50px;
top: 460px;
margin: auto;
}
.sub-box h1{
	position: absolute;
width: 500px;
height: 32px;
left:30px;
top: 45px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #231725;
}



.sub-box{
position: absolute;
background-color: #c4c4c4;
width: 863px;
height: 235px;
left: 50px;
top: 460px;
margin: auto;
}
.sub-box h1{
	position: absolute;
width: 500px;
height: 32px;
left:30px;
top: 45px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #231725;
}

.yo input[type=text]{
	position: absolute;
	left:40px;
top: 120px;
width: 600px;
height: 50px;
padding: 10px;
box-sizing: border-box;
border:2px solid #231725;
}
.btn1{
	position: absolute;
	right:50px;
top: 120px;
width: 160px;
height: 50px;
padding: 10px;
box-sizing: border-box;
color: #231725;
font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
background-color: #C59A4C;
outline: none;
border:2px solid #231725;
}




.box3{
position: relative;
width: 1160px;
height: 800px;
left: 140px;
top: 0px;
background: #C59A4C;

}

.box4 h1{
   position: absolute;
   width: 580px;
height: 67px;
left: 40px;
top: 70px;

font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 43px;
}
.box4{
	width: 1000;

}
.box4 p{
	position: absolute;
width: 958px;
height: 71px;
left: 40px;
top: 150px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #000000;
}


input[type=text], select, textarea {
  width: 700px;
  padding: 12px;
  border: 1px solid #231725;
  border-radius: 4px;
  resize: vertical;
  background: #F2EAE9;
  outline: none;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.submit{
	width:70px;
	margin: 20px auto;
}
input[type=submit] {
  background-color: #231725;
 color: #C59A4C;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 60px;

  font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 43px
}

.container {
  border-radius: 5px;
  background-color: #C59A4C;
  padding: 20px;
  top: 255px;
  position: absolute;
  left: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}





footer, footer a {
  color: #C59A4C;
  background-color: #231725;
  font-weight: 500;
  font-size: 10px;
}
footer b {
  font-size: 12px;
}
footer i {
  font-size: 16px;
}
footer a:hover{
  color: white;
  text-decoration: none;
}
footer h4 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}
footer img {
  width: 100px;
}
footer h5 {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}
.footer-copyright {
  border-top: 2px solid black;
}
.footer-group {
  min-width: 300px;
}
