<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="facility.css">
    <title>NoVo Tempo Hotels</title>
</head>

<body>
    <div class="container-fluid">
        <!-- Header -->
        <section class="header">
            <div class="logo">
                <img src="../assets/Group 55.png" alt="">
            </div>
            <div class="header-link">
                <ul>
                    <li><a href="#">HOTEL OVERVIEW</a></li>
                    <li><a href="#">ROOMS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">WEDDINGS</a></li>
                    <li><a href="#">SPA</a></li>
                    <li><button><a href="#">RESERVE NOW</a></button></li>
                </ul>
            </div>
        </section>
        <!-- Navigation -->
        <section class="jumbotron-fluid">
            <img src="../assets/woman-working-out-3931307.jpg" alt="" class="img img-fluid">
        </section>
        <!-- introtext -->
        <div class="row">
            <div class="col-10 offset-2">
                <div class="intro">
                    <h3 id="name" class="text-white">FACILITIES</h3>
                    <p>We offer you the best value you <br> can get from the coast.We have <br> the best to give you the luxury <br> feeling of a Paradise away from <br> home.
                    </p>
                </div>
            </div>
        </div>
        <!--facilities -->

        <div class="row d-flex justify-content-center align-items-end mt-5">
            <div class="col-sm-3 p-0">
                <div class="card">
                    <div class="card-img-top">
                        <img src="../assets/cheerful-group-of-pregnant-women-practicing-yoga-in-modern-3984367.jpg" alt="">
                        <div class="card-img-overlay text-center text-white d-flex justify-content-center align-items-center">
                            <h1 class="text-uppercase">Be Unyeilding</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            With our fully furnished recreation <br> and gym center you can relieve all <br> the wories in your mind and <br> stabilize yourself.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-0">
                <div class="img">
                    <img src="../assets/woman-in-black-sleeveless-crop-top-and-white-leggings-using-1111304.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-end mt-5">
            <div class="col-sm-3 p-0">
                <div class="card">
                    <div class="card-img-top">
                        <img src="../assets/woman-standing-while-carrying-laptop-1181354.png" alt="">
                        <div class="card-img-overlay text-center text-white d-flex justify-content-center align-items-center">
                            <h1 class="text-uppercase">Be Unstoppable</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">With our world class internet <br> service, you will never be caught <br> unawares. we offer the speed to <br> get all your services in your hands.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-0">
                <div class="img">
                    <img src="../assets/woman-with-wheelchair.jpeg.jpeg" class="img-fluid" alt="">
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-end mt-5">
            <div class="col-sm-3 p-0">
                <div class="card">
                    <div class="card-img-top">
                        <img src="../assets/empty-tables-and-chairs-3201920.jpg" alt="">
                        <div class="card-img-overlay text-center text-white d-flex justify-content-center align-items-center">
                            <h1 class="text-uppercase">Be Refreshed</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Enter our pools and participate in <br> our swimming lessons and games. <br/> we have the bes of trainers and <br> you can't not be refreshingly <br/> amazed.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-0">
                <div class="img">
                    <img src="../assets/architecture-chair-glass-hotel-261041.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-9">
                <div class="card">
                    <img src="../assets/chef-preparing-vegetable-dish-on-tree-slab-1267320.jpg" class="card-img" alt="">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <div class="d-flex flex-row flex-grow-1 align-items-center ml-5">
                            <h1 class="text-uppercase">Be Unyeilding</h1>
                        </div>
                        <div class="row justify-content-center mx-5">
                            <div class="col-5">
                                <p class="card-text">With a five star chef we have curated amazing meals to satisfy your excitement, we are concerned about you so what you eat is tailored towards healthful living </p>
                            </div>
                            <div class="col-7">
                                <img class="img-fluid img-bottom" src="../assets/asparagus-barbecue-cuisine-delicious-361184.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <div class="item-wrap">
            <img src="../assets/Group 48.png" alt="">
            <div>
                <h2>ABOUT NOVO</h2>
                <ul>
                    <li><a href="#">Awards</a></li>
                    <li><a href="#">Gold Standards</a></li>
                    <li><a href="#">Community Footprints</a></li>
                </ul>
            </div>
            <div>
                <h2>MEETINGS & WEDDINGS</h2>
                <ul>
                    <li><a href="#">Meetings</a></li>
                    <li><a href="#">Weddings</a></li>
                    <li><a href="#">Holiday</a></li>
                </ul>
            </div>
        </div>
        <div class="item-wrap">
            <div>
                <h2>CONTACT US</h2>
                <ul>
                    <li><a href="#">Online Reservation</a></li>
                    <li><a href="#">Reservation by Phone</a></li>
                    <li><a href="#">Connect with us on Social</a></li>
                </ul>
                <address>
          Lagos<br>
          45 Kalia Road, Marina, Lagos, Nigeria.<br>
          Toll Free Room Reservations:<br> + (234) 812-435-2245 <br>Other Inquiries: + (234) 812-422-2233 
        </address>
            </div>
            <div>
                <h2>SPA</h2>
                <ul>
                    <li><a href="#">Treatment</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Schedule a Time</a></li>
                </ul>
            </div>
            <div>
                <h2>ROOM & SUITES</h2>
                <ul>
                    <li><a href="#">Junior Rooms</a></li>
                    <li><a href="#">Guest Rooms</a></li>
                    <li><a href="#">Gold Rooms</a></li>
                    <li><a href="#">Premier Rooms</a></li>
                </ul>
            </div>
        </div>
        <div class="right">&copy; The Novo Tempo Hotel Company</div>
    </footer>
</body>

</html>