
*{
 box-sizing: border-box;
}

body{
 font-family:  sans-serif;
 width:99%;
 box-sizing: border-box;
 background: #F2EAE9;
}


/* header */


.header{
 background: #231725;
 display: flex;
 align-items: center;
 margin-bottom: 0;
}

.header .logo{
 width: 42%;
 box-sizing: border-box;
 padding-left: 100px;
}
.header .logo img{
 position: relative;
 margin-bottom: -100px;
 width: 135px;
height: 135px;
z-index: 222;
}

.header .header-link{
 width: 58%;
 margin-right:15px;
}

.header-link a{
font-family: Lato;
text-decoration: none;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #C59A4C;
}

.header-link ul{
 display:flex;
 list-style: none;
 align-items: baseline;
}

.header-link li{
 margin-left: 10px;
}

div.header-link  ul li:nth-child(2) > a{
font-family: Lato;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #C59A4C;
}

.header-link li button{
 background: transparent;
 border: 1px solid #C59A4C;
 padding: 5px;
}

.header-link li button a{
background: #C59A4C;
border: 2px solid transparent;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #F2EAE9;
}

/* SECTION IMAGE */

section.image{
 width: 100%;
 overflow: hidden;
 z-index: -1;
 margin-top: 0;
}

/* IMAGE TEXT */

.text{
 position: relative;
 width: 472px;
height: 223px;
left: 238px;
background: #C59A4C;
display: flex;
align-items: center;
justify-content: center;
margin: -100px auto 25px 0px;
}

.text h1{
 font-family: Noto Serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 65px;
color: #F2EAE9;
}

/* STYLE-WRAPPER */

section.style-wrapper{
 width: 80%;
 margin: auto;
 display: flex;
 overflow: hidden;
 margin-bottom: 50px;
 height: 450px;
}

.style-wrapper .style-text{
 background: #231725;
 margin: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}

.style-wrapper img{
 width:650px;
 height: 450px;
}

.style-info{
 position: relative;
 left:50px;
 border: 2px solid #C59A4C;
box-sizing: border-box;
padding-left: 10px;
padding-right: 50px;
}

.style-text h1{
 font-family: Noto Serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 65px;
color: #F2EAE9;
margin: 0;
padding: 0;
}

.style-text p{
 font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #F2EAE9;
width:170px;
}

.style-info button{
 font-family: Lato;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #C59A4C;
border: 2px solid #C59A4C;
background: transparent;
width:150px;
cursor: pointer;
}

.style-info .rate{
 font-family: Noto Serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
color: #C59A4C;
margin-top: 5px;
}

/* BEACH HOUSE */

section.beach-wrapper{
 width: 80%;
 margin: auto;
 display: flex;
 overflow: hidden;
 margin-bottom: 50px;
 height: 450px;
}

.beach-wrapper .beach-text{
 background: #C59A4C;
 margin: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}

.beach-wrapper img{
 width:650px;
 height: 450px;
}

.beach-info{
 position: relative;
 right:50px;
 border: 2px solid  #231725;
box-sizing: border-box;
padding-left:50px;
padding-right:10px;
}

/* GUEST ROOM */


section.guest-wrapper{
 width: 80%;
 margin: auto;
 display: flex;
 overflow: hidden;
 margin-bottom: 50px;
 height: 450px;
}

.guest-wrapper .guest-text{
 background: #231725;
 margin: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}

.guest-wrapper img{
 width:650px;
 height: 450px;
}

.guest-info{
 position: relative;
 left:50px;
 border: 2px solid #C59A4C;
box-sizing: border-box;
padding-left: 10px;
padding-right: 50px;
}

.guest-text h1{
 font-family: Noto Serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 65px;
color: #F2EAE9;
margin: 0;
padding: 0;
}

.guest-text p{
 font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #F2EAE9;
width:170px;
}

.guest-info button{
 font-family: Lato;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #C59A4C;
border: 2px solid #C59A4C;
background: transparent;
width:150px;
cursor: pointer;
}

.guest-info .rate{
 font-family: Noto Serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
color: #C59A4C;
margin-top: 5px;
}


/* GOLD HOUSE */

section.gold-wrapper{
 width: 80%;
 margin: auto;
 display: flex;
 overflow: hidden;
 margin-bottom: 50px;
 height: 450px;
}

.gold-wrapper .gold-text{
 background: #C59A4C;
 margin: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}

.gold-wrapper img{
 width:650px;
 height: 450px;
}

.gold-info{
 position: relative;
 right:50px;
 border: 2px solid  #231725;
box-sizing: border-box;
padding-left:50px;
padding-right:10px;
}

.gold-text h1{
 font-family: Noto Serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 65px;
color:  #231725;
margin: 0;
padding: 0;
}

.gold-text p{
 font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color:  #231725;
width:170px;
}

.gold-info button{
 font-family: Lato;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color:  #231725;
border: 2px solid  #231725;
background: transparent;
width:150px;
cursor: pointer;
}

.gold-info .rate{
 font-family: Noto Serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
color:  #231725;
margin-top: 5px;
}

/* PREMIERE SUITES */

section.prem-wrapper{
 width: 80%;
 margin: auto;
 display: flex;
 overflow: hidden;
 margin-bottom: 50px;
 height: 450px;
}

.prem-wrapper .prem-text{
 background: #231725;
 margin: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}

.prem-wrapper img{
 width:650px;
 height: 450px;
}

.prem-info{
 position: relative;
 left:50px;
 border: 2px solid #C59A4C;
box-sizing: border-box;
padding-left: 10px;
padding-right: 50px;
}

.prem-text h1{
 font-family: Noto Serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 65px;
color: #F2EAE9;
margin: 0;
padding: 0;
}

.prem-text p{
 font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #F2EAE9;
width:170px;
}

.prem-info button{
 font-family: Lato;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #C59A4C;
border: 2px solid #C59A4C;
background: transparent;
width:150px;
cursor: pointer;
}

.prem-info .rate{
 font-family: Noto Serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
color: #C59A4C;
margin-top: 5px;
}


/*  FOOTER */

footer{
 background: #231725;
 padding: 20px 0 10px 0;
}

.item-wrap{
 display: flex;
 width: 80%;
 margin: auto;
 justify-content: space-between;
}

.item-wrap img{
 margin-bottom: 10px;
}

.item-wrap h2{
 font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #C59A4C;
margin-top:0;
margin-bottom:10px;
}

.item-wrap ul{
 list-style: none;
 text-align: left;
 padding: 0;
 margin-top: 5px;
}

.item-wrap ul li{
 text-align: left;
}

.item-wrap a{
 font-family: Lato;
text-decoration: none;
 font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #C59A4C;
text-align: left;
}

.item-wrap address{
 font-family: Lato;
text-decoration: none;
 font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #C59A4C;
text-align: left;
}

footer .right{
 text-align: center;
color: #C59A4C;
margin-top:15px;
}